.messages {
  display: flex;
  justify-content: center;

  .container {
    width: 1200px;
    padding: 50px 0px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    table {
      width: 100%;

      tr {
        height: 100px;

        th {
          text-align: left;
        }

        &.active {
          background-color: #1dbf730f;
        }

        td {
          padding: 10px;
         
            &:first-child{
                font-weight: 500;
            }
            &:nth-child(2), &:nth-child(3){
                color: gray;
            }

          button {
            padding: 10px;
            border: none;
            color: white;
            background-color: #1dbf73;
          }
        }
      }
    }
  }
}
